:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --text-white-color: #ffffff;
  --accent-text-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 94px 0px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0px;
  }
}

.modal-btn {
  background-color: var(--text-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
  outline: none;
  border-color: rgba(0, 0, 0, 0.1);
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-text-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social_left {
  margin-left: 70px;
}

.footer-social__title {
  margin-bottom: 20px;
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social__list {
  list-style: none;
  display: flex;
}

.footer-social__list .footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-text-color);
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
  fill: #ffffff;
}

.footer-social__icon {
  fill: var(--text-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: var(--accent-text-color);
}

.studio {
  color: #000000;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    list-style: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-links .nav-item + .nav-item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--primery-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover, .nav-link:focus {
    color: var(--accent-text-color);
  }
}

.nav-link.current {
  color: var(--accent-text-color);
}

.nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.nav-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    display: block;
    margin-left: auto;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts .nav-contacts__item + .nav-contacts__item {
    margin-left: 30px;
  }
}

.nav-contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.nav-contacts__contact {
  display: flex;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__contact:hover, .nav-contacts__contact:focus {
  color: var(--accent-text-color);
}

.nav-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social-list .social-item + .social-item {
  margin-left: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--text-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 12px;
}

.modal-form__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-text-color);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-text-color);
}

.modal-form__textarea_field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:hover, .modal-form__message:focus {
  outline: none;
  border-color: var(--accent-text-color);
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form__checkbox_label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__checkbox_label::before {
  background-image: url(../img/main/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: transparent;
}

.modal-form__checkbox:focus + .modal-form__checkbox_label::before,
.modal-form__checkbox:hover + .modal-form__checkbox_label::before {
  border-color: var(--accent-text-color);
}

.policy-link {
  color: var(--accent-text-color);
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  color: var(--text-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 25px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__links {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mobile-menu__link {
  text-decoration: none;
  color: var(--primery-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-text-color);
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-text-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__contacts {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__contact-phone {
  margin-bottom: 32px;
}

.mobile-menu__phone {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.mobile-menu__phone:hover, .mobile-menu__phone:focus {
  color: var(--accent-text-color);
}

.mobile-menu__contact-mail {
  margin-bottom: 64px;
}

.mobile-menu__mail {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.mobile-menu__mail:hover, .mobile-menu__mail:focus {
  color: var(--accent-text-color);
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-menu__social-link {
  text-decoration: none;
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .header {
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}

.header__burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

.header__burger-btn:hover, .header__burger-btn:focus {
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.header__burger-icon {
  width: 40px;
  height: 40px;
}

.main {
  text-align: center;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/mobile/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/tablet/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/desktop/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/desktop/hero-desktop.jpg");
  }
}

.main__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: var(--text-white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .main__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

.main__button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-text-color);
  color: var(--text-white-color);
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button:hover, .main__button:focus {
  background-color: #188ce8;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__list {
  margin-right: -30px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.features__icons {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .features__icons {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icons {
    width: 270px;
  }
}

.features__subtitle {
  margin-bottom: 10px;
  color: var(--primery-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info {
  display: none;
}

@media screen and (min-width: 1200px) {
  .info {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.info .info__title {
  margin-bottom: 50px;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.info .info__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.info .info__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.info .info__block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.info .info__text {
  color: var(--text-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio__buttons .portfolio__btn + .portfolio__btn {
  margin-left: 8px;
}

.portfolio__item {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  color: var(--primery-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  color: var(--text-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__img {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__img:hover .portfolio__block_text,
.portfolio__img:focus .portfolio__block_text {
  transform: translate(0);
}

.portfolio__block {
  position: relative;
  overflow: hidden;
  display: flex;
}

.portfolio__block_text {
  position: absolute;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-white-color);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__discription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  text-decoration: none;
}

.portfolio__subtitle {
  margin-bottom: 4px;
  color: var(--primery-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */