:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --text-white-color: #ffffff;
  --accent-text-color: #2196f3;
}
