.header {
  border-bottom: 1px solid #ececec;
}

.header__section {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
