.header {
  border-bottom: 1px solid #ececec;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}
.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}
