.footer-form {
  width: 570px;
  display: flex;
  align-items: end;

  @media screen and (max-width: 1199px) {
    width: 450px;
    align-items: center;
    flex-direction: column;
  }
}

.footer-form_left {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer-form__text {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-form__input {
  width: 358px;
  height: 50px;
  color: var(--text-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.footer-form__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  display: flex;
  align-items: center;
  padding-left: 29px;

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}

.footer-form__button_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--text-white-color);
}

.footer-form__icon {
  margin-left: 10px;
}
