.header__logo {
  margin-right: 93px;

  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: var(--accent-text-color);
}

.studio {
  color: #000000;
}
