.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--text-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    width: 100%;
    min-height: 609px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    min-height: 609px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);

  margin-bottom: 12px;
}

.modal-form__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
    cursor: pointer;
  }

  &:focus + .modal-form__icon,
  &:hover + .modal-form__icon {
    fill: var(--accent-text-color);
  }
}

.modal-form__textarea_field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 20px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
    cursor: pointer;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }

  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--primery-text-color);
    border-radius: 3px;
    cursor: pointer;

    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form__checkbox:checked + &::before {
    background-image: url(../img/main/icon-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
  }

  .modal-form__checkbox:focus + &::before,
  .modal-form__checkbox:hover + &::before {
    border-color: var(--accent-text-color);
  }
}

.modal-form__checkbox_text {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.policy-link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  color: var(--text-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
